.title {
    display: inline-block;
    display: flex;
    position: relative;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #ffffff;
  }
  .title h3 {
    margin: 0.5rem auto;
  }
  .xButton {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    width: fit-content;
  }
  