
#csvImportField {
  margin: 2%;
  max-width: 96%;
  min-width: 96%;
  max-height: 300px;
}

.raidNumbersDiv {
  text-align: center;
  margin: 10px 15%;
  display: inline-block;
}
.raidNumbersDiv span {
  padding: 0.5rem 0 0 0;
  background-color: #ffffff;
  color: #000;
  height: 100%;
  width: 40%;
  border: none;
  font-size: 20px;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.plusminusWrap {
  width: 7rem;
  height: 3rem;
  display: flex;
}

.plusminus {
  cursor: pointer;
  width: 30%;
  background: #ffffff;
  border: none;
  font-size: 2rem;
  color: #292929;
}
.plusminus:last-child {
  border-left: 1px solid black;
  border-radius: 0 1rem 1rem 0;
}
.plusminus:first-child {
  border-right: 1px solid black;
  border-radius: 1rem 0 0 1rem;
}

