.checkInput:after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #9f9f9f;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.checkInput:checked:after {
  background-color: #3f3f3f;
}

.radioLabel {
  font-weight: bold;
}
.tableRow > td:first-child {
  text-align: left;
}
