body {
  background-color: black;
}
.title {
  font-size: calc(1.625rem + 2.5vw);
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin: 0 0 1.5rem 0;
}
.raidInfo {
  background-color: #3f3f3f;
  border-radius: 12px;
  margin: 0 auto;
  padding: 1rem;
  width: 80vw;
  color: white;
}

.raidDescription h3 {
  font-size: calc(1.25rem + 2.1vw);
  font-weight: normal;
  margin: 0;
}
