.header {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 5rem;
  background-color: #292929;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.hamburger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;
}

.navbar,
nav {
  list-style: none;
  display: flex;
}
.navbar > :nth-child(n + 2) {
  border: 0 solid gray;
  border-left-width: 1px;
  height: 5rem;
  width: 12rem;
}


.navbar > :last-child {
  border-right-width: 1px;
}

h1:hover, h1:active, .active h1{
  filter: drop-shadow(0 0 0.5rem #888);
}

.navbar > :first-child {
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  padding: 0 1rem;  
  width: 15rem;
}
.navbar :first-child {
  color: white;
  text-decoration: none;
}


@media (max-width: 1000px) {
  .navbar > :nth-child(n + 2) {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
