.navbutton {
  position: relative;
  cursor: pointer;
  font: inherit;
  background-image: radial-gradient(closest-side, #292929eb, #292929);
  color: white;
  font-weight: bold;
  animation: off-hover 300ms ease-in;
  border:0;
  height: 100%;
  width: 100%;
  
}

.navbutton:hover, .active, .active .navbutton, navbutton:active {
  box-shadow: 0 10px 15px -5px #888;
  animation: on-hover 300ms ease-in;
  transform: scale(1.08);
  text-shadow: 0 0 10px #888;
  z-index: 20;
}

@keyframes on-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes off-hover {
  0% {
    box-shadow: 0 10px 15px -5px #888;
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
    z-index: 11;
  }
}