.button {
  position: relative;
  cursor: pointer;
  font: inherit;
  background-color: #292929;
  color: white;
  font-weight: bold;
  animation: off-hover 300ms ease-in;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  border-radius: 0.334rem;
}

.submit {
  background-color: #45563d;
}
.close{
  background-color:#683e3e;
}
.x{
  padding:  1px 3px 1px 3px;
  border: 0;
}

.button:hover {
  box-shadow: 0 0px 5px 3px #c0c0c0cc;
  animation: on-hover 300ms ease-in;
  transform: scale(1.08);
  text-shadow: 0 0 10px #888;
  z-index: 20;
}

@keyframes on-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes off-hover {
  0% {
    box-shadow: 0 10px 15px -5px #888;
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
    z-index: 11;
  }
}
